{
    "quoteProps": "preserve",
    "singleQuote": true,
    "semi": false,
    "arrowParens": "avoid",
    "jsxSingleQuote": true,
    "editorconfig": true,
    "printWidth": 200,
    "useTabs": true
}